@import 'colors.scss';

nav {
    height: 5rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.299);

    >div {
        display: flex;
        align-items: center;

        >svg {
            color: $red;
            font-size: 3rem;
        }

        >a {
            margin: 0 2rem;
            color: $dark;
            transition: color 0.3s;
            font-size: 1.3em;

            &:hover {
                color: $lightdark;
            }

            >svg {
                color: $red;
                transition: inherit;
                font-size: 1.5rem;

                &:hover {
                    color: $lightdark;
                }
            }
        }
    }
}
@media screen and (max-width:850px) {
    nav {
        padding: 0.8rem;
        > div > a {
          margin: 0 0.3rem;
        }
      }
}